@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}

html{
    margin: 0;
    width:100%;
    height:100%;
    cursor:none;
}
body{
    background: black;
    color: white;
    font-family: Ubuntu;
    font-size: 2rem;
    padding: 5vw 8vw 5vw 8vw !important;
}

.calendar{
    font-size: 1.5rem;
    text-align:center;
    width: 60%;
    margin: 0 auto;
}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    align-items: flex-start;
}
.left{
    width: 70%;
}
.right{
    width:30%;
    font-size: 1.5rem;
    text-align: right !important;
    border: 1px solid white;
}
.forecast{
    width:100%;
    border: 1px solid white;
}
.tom, .tod{
    text-align: center;
}